<div class="container">
  <h2>Who? Us?!</h2>
  <p>...Well! I am glad you asked. I thought you would never ask! If you are here reading this and it is past your bedtime then go to bed! If you are anything like us, then we are all seed trackin' aficionados. Sam and I built this concept of tracking your seed progress as they grow. It started as a printable template.
    <ul>
      <li>Sam is a farmer.</li>
      <li>Jared is a software engineer and a jak of all trades.</li>
      <li>We both love to garden.</li>
    </ul>
</div>

